In [ ]:
#Student: David Anim-Addo
#Course: Coursera - Data Visualization with Python
#Date: 10-21-19

In [25]:
import numpy as np #Handles scientific computing in Python
import pandas as pd #Data structure library
!conda install -c anaconda xlrd --yes #Install xlrd module

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [64]:
df_topsrv = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/coursera/Topic_Survey_Assignment.csv')
df_topsrv

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136
5,Machine Learning,1629,477,74

In [65]:
df_topsrv.rename(columns={'Unnamed: 0' : ''}, inplace=True)
df_topsrv

,,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136
5,Machine Learning,1629,477,74

In [66]:
df_topsrv.set_index('',inplace=True)
df_topsrv.style